/* Fonts (global) */
/* latin-ext */
@font-face {
 font-family: "Public Sans";
 font-style: normal;
 font-weight: 200;
 font-display: swap;
 src: url("https://california.azureedge.net/fonts/publicsans-extralight-webfont.woff2") format("woff2");
 unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
 font-family: "Public Sans";
 font-style: normal;
 font-weight: 200;
 font-display: swap;
 src: url("https://california.azureedge.net/fonts/publicsans-extralight-webfont.woff2") format("woff2");
 unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
   U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
 font-family: "Public Sans";
 font-style: normal;
 font-weight: 300;
 font-display: swap;
 src: url("https://california.azureedge.net/fonts/publicsans-light-webfont.woff2") format("woff2");
 unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
 font-family: "Public Sans";
 font-style: normal;
 font-weight: 300;
 font-display: swap;
 src: url("https://california.azureedge.net/fonts/publicsans-light-webfont.woff2") format("woff2");
 unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
   U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
 font-family: "Public Sans";
 font-style: normal;
 font-weight: 400;
 font-display: swap;
 src: url("https://california.azureedge.net/fonts/publicsans-regular-webfont.woff2") format("woff2");
 unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
 font-family: "Public Sans";
 font-style: normal;
 font-weight: 400;
 font-display: swap;
 src: url("https://california.azureedge.net/fonts/publicsans-regular-webfont.woff2") format("woff2");
 unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
   U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
 font-family: "Public Sans";
 font-style: normal;
 font-weight: 500;
 font-display: swap;
 src: url("https://california.azureedge.net/fonts/publicsans-medium-webfont.woff2") format("woff2");
 unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
 font-family: "Public Sans";
 font-style: normal;
 font-weight: 500;
 font-display: swap;
 src: url("https://california.azureedge.net/fonts/publicsans-medium-webfont.woff2") format("woff2");
 unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
   U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
 font-family: "Public Sans";
 font-style: normal;
 font-weight: 600;
 font-display: swap;
 src: url("https://california.azureedge.net/fonts/publicsans-semibold-webfont.woff2") format("woff2");
 unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
 font-family: "Public Sans";
 font-style: normal;
 font-weight: 600;
 font-display: swap;
 src: url("https://california.azureedge.net/fonts/publicsans-semibold-webfont.woff2") format("woff2");
 unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
   U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
 font-family: "Public Sans";
 font-style: normal;
 font-weight: 700;
 font-display: swap;
 src: url("https://california.azureedge.net/fonts/publicsans-bold-webfont.woff2") format("woff2");
 unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
 font-family: "Public Sans";
 font-style: normal;
 font-weight: 700;
 font-display: swap;
 src: url("https://california.azureedge.net/fonts/publicsans-bold-webfont.woff2") format("woff2");
 unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
   U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
 font-family: "Public Sans";
 font-style: normal;
 font-weight: 800;
 font-display: swap;
 src: url("https://california.azureedge.net/fonts/publicsans-extrabold-webfont.woff2") format("woff2");
 unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
 font-family: "Public Sans";
 font-style: normal;
 font-weight: 800;
 font-display: swap;
 src: url("https://california.azureedge.net/fonts/publicsans-extrabold-webfont.woff2") format("woff2");
 unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
   U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
 font-family: "CaGov";
 src: url("https://california.azureedge.net/fonts/CaGov.ttf?ocljyw") format("truetype"), url("https://california.azureedge.net/fonts/ca-gov-icon.woff?t3czrh") format("woff"), url("https://california.azureedge.net/fonts/CaGov.woff2?ocljyw") format("woff2"), url("https://california.azureedge.net/fonts/CaGov.svg??ocljyw#CaGov") format("svg");
 font-weight: normal;
 font-style: normal;
 font-display: block;
}
[class^=ca-gov-icon-],
[class*=" ca-gov-icon-"] {
 /* use !important to prevent issues with browser extensions that change fonts */
 font-family: "CaGov" !important;
 speak: never;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 /* Better Font Rendering =========== */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
