@charset "utf-8";
/* CSS Document - Custom styles that overwrite the template CSS code*/

.branding .header-organization-banner a .logo-assets .logo-img {
  width: 100% !important;
}

@font-face { 
  src: url(/fonts/poppins-medium-webfont.woff);
  font-family: pop1;
}

@font-face { 
  src: url(/fonts/poppins-semibold-webfont.woff);
  font-family: pop2;
}

/* Google translate */
.goog-te-menu-value:hover,
.goog-te-menu-value:focus {
  color: #736725 !important;
}

#accessibility_link img {
  max-height: 20px;
}

.covidheader {
	font-size: 2rem;
	line-height: 34px; 
	font-family: pop2;
	color: #20006b;
}

.covidsubhead {
/*  font-size: 1rem;*/
  font-weight: bold;
/*  line-height: 28px; */
  font-family: pop1;
  color: #20006b;
/*  decoration: none;*/
}

.homeheader {
/*  font-size: 1.4vw;*/
/*  line-height: 34px; */
  font-family: pop2;
  color: #20006b;
  text-align: center;
  font-weight: bold;	
}

.homesubhead {
/*  font-size: 1rem;*/
  font-weight: bold;
/*  line-height: 28px; */
  font-family: pop1;
  color: #20006b;
/*  decoration: none;*/
}

.homecolumns {
	padding-bottom: 10px; 
	margin-top: 10px;
}

.nested-list li {
padding-left: 18px !important;
}

.footer-img-button {
  max-height: 140px;
  white-space: nowrap;
  text-align: center;
  margin: 1em 0;
}
.footer-img-buttons img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.footer-img-buttons .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.footer-img-buttons a {
  background-image: none !important;
}

@media (max-width: 500px) {
.head2w {font-size: 2rem !important;
	line-height: 1.5;}}

/** Fix search jumping when it has chars in **/
@media (min-width: 992px) {
  .active-search .fixed.compact .search-container,
  .fixed.compact .search-container.active {
    top: -65px;
  }
}

/** margin-bottom on mobile **/
@media (max-width: 768px) {
  .m-m-b-md {
    margin-bottom: 1.5rem!important;
  }
}

.no-background {
  background: none !important;
}

.newapprenter, .newapplandlord, .returnapp {
	max-width: 300px; border-radius: 40px;font-size: 1.5em;border: none;flex-wrap: nowrap;
}

.newapprenter {
	background-color: #B4009E; color: white;
	}
.newapprenter:hover, .newapprenter:focus,.newapplandlord:hover, .newapplandlord:focus{
	background-color: #091ba3;
	
}
.returnapp:hover, .returnapp:focus{
	background-color: #ff8329; color: #340D69;
	
}
.newapplandlord {
	background-color: #7863FF; color: white;
}

.returnapp {
	background-color: #FF9E57; color: #340D69;
}

.applicationstatus {
	max-width: 400px; border-radius: 40px;font-size: 1.5em;border: none;flex-wrap: nowrap;
	background-color: #1d006a; color: #C5ECEF !important;
}
.applicationstatus:hover, .applicationstatus:focus{
	background-color: #C5ECEF; color: #1d006a !important;
	
}

.applynow {
	max-width: 250px; border-radius: 40px;font-size: 1.5em;border: none;flex-wrap: nowrap;
	background-color: #C5ECEF; color: #1d006a;
}
.applynow:hover, .applynow:focus{
	background-color: #1d006a; color: #C5ECEF;
	
}
.applynow.sp{
	max-width: 250px; border-radius: 40px;font-size: 1.5em;border: none;flex-wrap: nowrap;
	background-color: #FFE8CA; color: #1d006a;
}
.applynow.sp:hover, .applynow.sp:focus{
	background-color: #1d006a; color: #FFE8CA;
	
}
.applynow.ch {
	max-width: 250px; border-radius: 40px;font-size: 1.5em;border: none;flex-wrap: nowrap;
	background-color: #EBC3FC; color: #1d006a;
}
.applynow.ch:hover, .applynow.ch:focus{
	background-color: #1d006a; color: #EBC3FC;
	
}
.applynow.kor{
	max-width: 250px; border-radius: 40px;font-size: 1.5em;border: none;flex-wrap: nowrap;
	background-color: #D4CDFF; color: #1d006a;
}
.applynow.kor:hover, .applynow.kor:focus{
	background-color: #1d006a; color: #D4CDFF;
	
}
.applynow.vt{
	max-width: 250px; border-radius: 40px;font-size: 1.5em;border: none;flex-wrap: nowrap;
	background-color: #E1E3E4; color: #1d006a;
}
.applynow.vt:hover, .applynow.vt:focus{
	background-color: #1d006a; color: #E1E3E4;
	
}
.applynow.tag{
	max-width: 250px; border-radius: 40px;font-size: 1.5em;border: none;flex-wrap: nowrap;
	background-color: #C8DDFC; color: #1d006a;
}
.applynow.tag:hover, .applynow.tag:focus{
	background-color: #1d006a; color: #C8DDFC;
	
}

.housingh1{
	font-family: pop2;
	color: #21006B;
	font-size: 42pt;
}
.housingh2{
	font-family: pop2;
	color: #21006B;
	font-size: 32pt;
}
.housingh3{
	font-family: pop2;
	color: #21006B;
	font-size: 24pt;
}
.housingapply{
	font-family: pop2;
	color: #21006B;
	font-size: 24pt;
	text-transform: capitalize;
}
.housingsubhead{
	font-family: pop2;
	color: #464646;
	font-size: 14pt;
	text-transform: capitalize;
}
.housingnav {
	background-color: #21006B;
	color: white;
	font-family: pop2;
}
.housingnav .nav-item .first-level-link{
	color: white;
	font-family: pop2;
}
.housingnav .first-level-btn{
	color: white;
	font-family: pop2;
}

.housingnav .first-level-btn .carrot{
	color: white;
	
}
.housingnav .second-level-link{
	color: #21006B;
	
}
.housingnav .nohover a{
	cursor: default;
	line-height: normal;
	
}
.housingnav .nohover:hover {
	background-color: transparent;
	
}
.housingnav .nodrop:hover a{
	color: #046B99
	
}
.housingnav a.second-level-link {
	font-size: 16px;
}

@media (max-width: 992px) {
  .housingnav .first-level-btn {
    color: #21006B;
  }
	.housingnav .nav-item .first-level-link{
	color: #21006B;	
	}
	.housingnav .nohover:hover{
	    background-color: #F5F9FB;	
	}
}

@media (max-width: 768px) {
  .buttonssmall {
    display: none;
  
  }
	.buttonsnormal{
		display: flex!important;
	}	
}




.utility-header .dropdown-item {
  color: #000 !important;
  padding: .25rem 1.5rem !important;
  background-color: transparent !important;
}

.utility-header .dropdown-item:hover {
  text-decoration: underline;
}

.utility-header .dropdown-toggle {
  background-color: transparent !important;
  border: none;
  color: #fff;
}

.utility-header .dropdown-toggle:hover,
.utility-header .dropdown-toggle:focus {
  background-color: #fff !important;
  color: #000;
}

.utility-header .dropdown-item a:hover,
.utility-header .dropdown-item a:focus,
.utility-header .dropdown-item a.hovered {
  color: #000!important;
}

.hpbutton {
	border-radius: 40px;font-size: 1.2em;border: none;flex-wrap: nowrap;
	background-color: #21006B; color: white;
}
.hpbutton:hover, .hpbutton:focus{
	background-color: #1d006a; color: #C5ECEF;
	
}

.global-footer {
     background: white !important; 
    text-align: center;
}
.global-footer a:not(.btn) {
    color: #4b4b4b !important;
    text-decoration: none;
}

.global-footer .copyright {
    background: white !important;  
    color: #4b4b4b !important;
    text-align: center !important;
}

.second-level-link {
    color: #4b4b4b !important;
}

.global-footer li::after { 
  content: "|";
  font-weight: bold;
      padding-left: 10px;
    padding-right: 10px;	
}

.global-footer li:last-child::after  {
	content: none;
}

.global-footer ul>li, .list-inline>li {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.global-footer .footer-links li {
    margin-right: 0px !important;
}

@media (max-width: 768px) {
  .global-footer li::after { 
  content: none;
      padding-left: 10px;
    padding-right: 10px;	
}
}

